In [2]:
# Importing librairies
import matplotlib.pyplot as plt
import pandas as pd
from datasets import load_dataset

# Loading data
dataset = load_dataset('lukebarousse/data_jobs')
df = pd.DataFrame(dataset['train'])

# Data Cleanup
df['job_posted_date'] = pd.to_datetime(df['job_posted_date'])

In [24]:
df_filled = df

# Replace NaN in the 'salary_year_avg' column with the median of that column
median_salary_year = df['salary_year_avg'].median()
df_filled['salary_year_avg'] = df_filled['salary_year_avg'].fillna(median_salary_year)

# Replace NaN in the 'salary_hour_avg' column with the median of that column
median_salary_hour = df['salary_hour_avg'].median()
df_filled['salary_hour_avg'] = df_filled['salary_hour_avg'].fillna(median_salary_hour)

Now, we'll be creating a new dataframe with all duplicates dropped and testing.

In [29]:
df_unique = df_filled

# Total number of rows before removing duplicates
before_count = df_unique.shape[0]

# Remove duplicates in the entire dataframe
df_unique = df_unique.drop_duplicates()

# Total number of rows after removing duplicates
after_count = df_unique.shape[0]

# Calculate the difference
difference = before_count - after_count

# Display the results
print(f"Number of rows before removing duplicates: {before_count}")
print(f"Number of rows after removing duplicates: {after_count}")
print(f"Difference in the number of rows: {difference}")

Number of rows before removing duplicates: 785741
Number of rows after removing duplicates: 785640
Difference in the number of rows: 101

Drop duplicates in this dataframe, based on the columns 'company name' and 'job_title'

In [31]:

# Total number of rows before removing duplicates
before_count_0 = df_unique.shape[0]

# Remove duplicates
df_unique = df_unique.drop_duplicates(subset=['company_name','job_title'])

# Total number of rows after removing duplicates
after_count_0 = df_unique.shape[0]

# Calculate the difference
difference_0 = before_count_0 - after_count_0

# Display the results
print(f"Number of rows before removing duplicates: {before_count_0}")
print(f"Number of rows after removing duplicates: {after_count_0}")
print(f"Difference in the number of rows: {difference_0}")

Number of rows before removing duplicates: 785640
Number of rows after removing duplicates: 508042
Difference in the number of rows: 277598